h1 {
    color: darkslategrey;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: dimgray;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
}

body {
    background-color: cornsilk;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 1px;
}


table {
    border: 2px gray solid;
    margin: auto;
    max-width:1000px;
}

th, td {
    border: 2px gray solid;
    padding: 5px 10px;
    margin: auto;
}

span {
    color: blue;
}

.tag {
    color: red;
    text-align: center;
}